@keyframes ldio-ve2c57olcua {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-ve2c57olcua div > div {
  position: absolute;
  width: 24.36px;
  height: 24.36px;
  border-radius: 50%;
  background: #c4c7c7;
  animation: ldio-ve2c57olcua 1.2195121951219512s linear infinite;
}.ldio-ve2c57olcua div:nth-child(1) > div {
  left: 150.5px;
  top: 89.49999999999999px;
  animation-delay: -1.0670731707317072s;
}
.ldio-ve2c57olcua > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 162.68px 101.67999999999999px;
}.ldio-ve2c57olcua div:nth-child(2) > div {
  left: 132.5px;
  top: 132.5px;
  animation-delay: -0.9146341463414633s;
}
.ldio-ve2c57olcua > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 144.68px 144.68px;
}.ldio-ve2c57olcua div:nth-child(3) > div {
  left: 89.49999999999999px;
  top: 150.5px;
  animation-delay: -0.7621951219512194s;
}
.ldio-ve2c57olcua > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 101.67999999999999px 162.68px;
}.ldio-ve2c57olcua div:nth-child(4) > div {
  left: 46.499999999999986px;
  top: 132.5px;
  animation-delay: -0.6097560975609756s;
}
.ldio-ve2c57olcua > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58.67999999999999px 144.68px;
}.ldio-ve2c57olcua div:nth-child(5) > div {
  left: 28.499999999999986px;
  top: 89.49999999999999px;
  animation-delay: -0.45731707317073167s;
}
.ldio-ve2c57olcua > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40.67999999999999px 101.67999999999999px;
}.ldio-ve2c57olcua div:nth-child(6) > div {
  left: 46.499999999999986px;
  top: 46.499999999999986px;
  animation-delay: -0.3048780487804878s;
}
.ldio-ve2c57olcua > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58.67999999999999px 58.67999999999999px;
}.ldio-ve2c57olcua div:nth-child(7) > div {
  left: 89.49999999999999px;
  top: 28.499999999999986px;
  animation-delay: -0.1524390243902439s;
}
.ldio-ve2c57olcua > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 101.67999999999999px 40.67999999999999px;
}.ldio-ve2c57olcua div:nth-child(8) > div {
  left: 132.5px;
  top: 46.499999999999986px;
  animation-delay: 0s;
}
.ldio-ve2c57olcua > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 144.68px 58.67999999999999px;
}
.loadingio-spinner-spin-et7c9ogran {
  width: 203px;
  height: 203px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ve2c57olcua {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ve2c57olcua div { box-sizing: content-box; }