$background_discounts: #CBDCFF;
$background_add_product-btn: #2D3132;

$color-white: #FFFFFF;
$color_black: #000000;
$color-dark-blue: #2D3132;
$color-lighter-gray: #EFF1F1;
$color-darker-gray: #E0E3E3;
$color-red: #FF5449;

$padding-input-search-x: 5.2rem;
$padding-input-search-y: 1.1rem;